/* Global Styling */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #1e1e1e;
    --text-color: #666666;
    --accent-color: red;
    --background-color: #f4f4f4;
    --border-color: #e1e1e1;
}

html {
    font-size: 16px;
}
@media (max-width: 1024px) {
    html {
        font-size: 14px;
    }
}

body {
    background-color: var(--background-color);
    color: var(--primary-color);
    font-family: 'Inter Tight', sans-serif;
}

p, li, .text {
    color: var(--text-color);
    font-size: 1.125rem;
    line-height: 1.6em;
}

.balance {
    text-wrap: balance;
}

strong {
    color: var(--primary-color);
    font-weight: 600;
}

a {
    color: var(--accent-color);
}

h1 { 
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.15em;
}
h2 { 
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.3em;
}
h3 { 
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.3em;
}
h4 { 
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.3em;
}
h5 { 
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.3em;
}
h6 { 
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.3em;
}

::marker {
    color: var(--accent-color);
}

/* Pages Styling */
.container {
    max-width: 1140px;
    background-color: white;
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    padding: 3.75rem;
}
@media (max-width: 1140px) {
    .container {
        width: calc(100% - 2.5rem);
        padding: 2.5rem 1.25rem;
    }
}